.shlogo{
    margin-top: 1rem;
    text-align: center;
    .shenhe{
    width: 1.8332rem;
    height: 1.8332rem;
    }
}
.shsp{
    width: 100%;
    font-size: 14px;
    color: #666;
    text-align: center;
    
}
.closeBtn{
    width: 60%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    background: #c50206;
    color: #fff;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}