.twostudy{
    height: 3.7226rem;
    width: 100%;
}
.menu-btn-title2{
    font-size: 30%;
    text-align: center;
    color: #666;
    width: 1.70rem;
    height: 0.8rem;
    padding-left: 0.3rem;
}
.row2{
    float: left;
    width: 33.3%;
}
.life-bloc{
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.3rem 0.3rem;
 
}
