
.mint-cell-wrapper{
    height: 1.94rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.nodesc{
    display: flex;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
    color: #666;
    padding-top: 10px;
}

.detail-img{
    width: 2rem;
    height: 1.52rem;
    position: absolute;
    left: 0;
}

.laba{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 18px;
}

.desc{
    font-size: 15px;
    color: #333;
    line-height: 22px;
    position: absolute;
    left: 1.8rem;
    right: 0.24rem;

    .desc-time{
        font-size: 10px;
        color: #666;
    }
}